#closechat , #openchat{
    position: absolute;
    right: 5%;
    top: 9px;
    color: #fff;    
}
.base_receive p {
    background: #4bdbe6;
}

.base_sent p {
    background: rgb(14 76 146 / 60%);
    border-radius: 3px;
    margin-bottom: 2px;
    padding: 7px;
}

time {
    font-size: 11px;
    font-style: italic;
}

#login-box {
    margin-top: 20px
}

.chat_box {
    position: fixed;
    bottom: 0;
    right: 5%;
    width: 350px;
    background: #fff;
    z-index: 111;
    margin: 0;
    box-shadow: 0px 2px 4px 0px #0000000d !important;
}

.close-chat {
    margin-top: -17px;
    cursor: pointer;
}


.chat-area {
    height: 250px;
    overflow-y: scroll;
    padding: 15px;
}

#users li {
    margin-bottom: 5px;
}

#chat-overlay {
    position: fixed;
    right: 0%;
    bottom: 0%;
}

.glyphicon-ok {
    color: #42b7dd;
}


.loader {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.chat_input {
    font-size: 14px;
}

.btn-chat {
    font-size: 11px;
    font-weight: bold;
}

.no-more-messages {
    background-color: #b32b2b;
    margin: 3px;
    margin-bottom: 6px;
    padding: 3px;
    font-size: 12px;
    color: #fff;
}

.chat_box .panel-footer {
    padding-left: 0px !important;
    background: #eee;
    padding-top: 5px;
    padding-bottom: 5px;
}

.upload-btn {
    font-size: 19px;
    color: #568EB7;
}

.emoji-list {
    margin-top: 4px;
}


.emoji-list ul {
    list-style-type: none;
}

.emoji-list ul li {
    display: inline-block;
    margin: 3px;
}

.emoji-list ul li a {
    text-decoration: none;
    font-size: 14px;
}

.chat_box .panel-title{
background: #568EB7;
    padding: 8px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 20px;
    border: 1px solid #568eb7a1;
    box-shadow: 0px 0px 0px 4px #568eb754;
}

