@media (max-width: 1200px){
body{
  padding-top: 0em !important;
}
.bg-light{
    margin-bottom: 2em;
}
/*
.container, .container-lg, .container-md, .container-sm, .container-xl {

    max-width: 795px;

}*/

}



@media (min-width: 1400px){

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {

    max-width: 975px;

}

}







